@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(23, 23, 23);
  --primary: rgb(255, 182, 193);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(33, 39, 55);
    --foreground: rgb(234, 237, 243);
    --primary: rgb(255, 182, 193);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  position: fixed;
  bottom: -5%; /* Pushes the image partially off the bottom */
  right: -110%; /* Pushes the image partially off the left */
  width: 160%; /* Makes sure the image is large enough */
  height: 60vh;
  z-index: -1; /* Keeps it behind the main content */
}

/*.page::before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: rgba(0, 0, 0, 0.1); !* Adjust color and opacity *!*/
/*  z-index: 1;*/
/*}*/
